<!--
  Manipulator specific version of abb_driver's 'robot_interface.launch'.

  Defaults provided for IRB 6640 185/2.8:
   - J23_coupled = false

  Usage:
    robot_interface_download_irb6640_185_280.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" doc="IP of the controller" />
  <arg name="J23_coupled" default="false" doc="If true, compensate for J2-J3 parallel linkage" />
  
  <rosparam command="load" file="$(find abb_irb6640_support)/config/joint_names_irb6640_185_280.yaml" />
  
  <include file="$(find abb_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="$(arg robot_ip)" />
    <arg name="J23_coupled" value="$(arg J23_coupled)" />
  </include>
</launch>
