<!--
  Manipulator specific version of the state visualizer.

  Defaults provided for IRB 4400/L30:
   - J23_coupled = true

  Usage:
    robot_state_visualize_irb4400l_30_243.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" />
  <arg name="J23_coupled" default="true" />

  <rosparam command="load" file="$(find abb_irb4400_support)/config/joint_names_irb4400l_30_243.yaml" />

  <include file="$(find abb_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="$(arg robot_ip)" />
    <arg name="J23_coupled" value="$(arg J23_coupled)" />
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" 
    type="robot_state_publisher" />

  <include file="$(find abb_irb4400_support)/launch/load_irb4400l_30_243.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
</launch>
