<?xml version="1.0" ?>
<!--
  Manipulator specific version of abb driver's 'robot_interface.launch'.

  Defaults provided for IRB 6700-200/2.60:
   - J23_coupled = true

  Usage:
    robot_interface_download_irb6700_200_260.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" doc="IP of the controller" />
  <arg name="J23_coupled" default="true" doc="If true, compensate for J2-J3 parallel linkage" />

  <rosparam command="load" file="$(find abb_irb6700_support)/config/joint_names_irb6700_200_260.yaml" />

  <include file="$(find abb_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="$(arg robot_ip)" />
    <arg name="J23_coupled" value="$(arg J23_coupled)" />
  </include>
</launch>
