<?xml version="1.0" ?>
<!--
  Manipulator specific version of abb_driver's 'robot_interface.launch'.

  Defaults provided for IRB 1200-7/0.7:
   - J23_coupled = false

  Usage:
    robot_interface_download_irb1200_7_70.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" />
  <arg name="J23_coupled" default="false" />
  
  <rosparam command="load" file="$(find abb_irb1200_support)/config/joint_names_irb1200_7_70.yaml" />
  
  <include file="$(find abb_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="$(arg robot_ip)" />
    <arg name="J23_coupled" value="$(arg J23_coupled)" />
  </include>
</launch>
